
<div class="jumbotron text-center" style="background: none ;">
	<h1>Events Promotion Start with <br><span class="eventsboard"> EventsBoard</span></h1>

	<h4>Welcome to The Ultimate Arena Of Socializing with Events around your University</h4>

	<h4>
		<%=link_to "Start Your Own Event", new_event_path, class:"new start-event" %>
		<%=link_to "Discover Events", events_path, class:"edit discover-event" %>

	</h4>
	<h2 class="text-center tag-line" style="font-family: white;">
	The Ultimate Portal for scholaristic Assistance for Students Looking for Event Management<br>
	We Make the most tiring job of Managing and socializing, <strong>Easy!!</strong>  
	
</h2>
	
</div>

