<div class="row">
	<div class="col-sm-8 col-sm-offset-2">



<%= simple_form_for([:admin, category]) do |f| %>
  <%= f.input :name %>
    <%= f.input :summary %>
   
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
</div>